body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   #002244;
    height: 100vh;
    margin: 0;
    
}

p {
    margin: 0;
}

button {
    margin: 8px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    border: 3px black solid;
}

button:active {
    border: 3px yellow solid;
}

.number  {
    font-size: 24px;
}

.calculator {
    /* background-color: #FFEFEF; */
    background-color: white;
    height: 750px;
    width: 450px;
    border-radius: 25px;
    padding: 30px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    border: black solid 10px;
}

.grid-span-2 {
    grid-column: span 10;
}

.grid-span-4 {
    grid-column: span 5; 
}

.grid-span-5 {
    grid-column: span 5;
}

.screen_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 20;
}

.screen {
    background-color: #FCFFAD;
    border: black solid 5px;
    border-radius: 25px;
    text-align: center;
    height: 90%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

#bottom-output{ 
    font-size: 36px;
    margin-right: 18px;
}

#top-output {
    margin-right: 18px;
    margin-top: 6px;
    color: #FCFFAD;
}