body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002244;
    height: 100vh;
    margin: 0;
    
}

.calculator {
    /* background-color: #FFEFEF; */
    background-color: white;
    height: 925.5px;
    width: 506.5px;
    border-radius: 25px;
    padding: 8px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.screen_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 20;
}

.screen {
    background-color: #FCFFAD;
    border: black solid 5px;
    border-radius: 25px;
    text-align: center;
    height: 90%;
    width: 90%;
}

.grid-span-2 {
    grid-column: span 10;
}

.grid-span-4 {
    grid-column: span 5; 
}

.grid-span-5 {
    grid-column: span 4;
}